.botao{
    height: 60px;
    width: 62px;
    font-size: 32px;
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-style: sans-serif;
}

.botao:hover {
    opacity: 0.9;
}