.content{
    background: #fff0ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{
    background: #4B0082;
    padding: 34px;
    border-radius: 34px;

}

.calculadoraHeader {
    padding-block: 50px;
    text-align: center;
    height: 146px;
}

.equacao {
    color: #fff;
    font-size: 30px;
}
.solucao {
    color: #fff;
    font-size: 40px;
}
.linhas {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;

}